# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/

# Environment variables
.env

# VS Code settings (optional)
.vscode/

# Mac and Linux system files
.DS_Store
*.swp

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs and temporary files
*.log
*.tmp
*.bak

# Pytest cache
.pytest_cache/

# Reports or outputs
*.csv
*.mp3
